
.facilities {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 69px;
  padding-top: 0;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 8px;

  &__item {
    padding-bottom: 28px;
  }

  &__title {
    font-size: 18px;
    margin: 0;
  }

  &__description {
    margin: 0;
    padding-top: 14px;
    padding-right: 20px;
    line-height: 21px;
  }
}
